.news{
    height: calc(100vh - 70px);
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width:768px){
        // color: red;
        width:768px;
        height: 100%;

        

    }


}

.news::-webkit-scrollbar{
    display: none;
}